<h1>Artists</h1>

<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
      <li><%= link_to artist.name, artist_path(artist) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no artists yet.</p>
<% end %>


<p><%= link_to "Create new artist", new_artist_path %></p>